*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Nav Bar*/
.nav-bar {
    background-color: #222831;
    height: 4.5rem;
}

.nav-items {
    display: inline-block;
}

.link {
    color: #EEEEEE;
    text-decoration: none;
}

.nav-item {
    margin: 0 1.4rem;
    opacity: 0.8;
}

.nav-links {
    position: absolute;
    top: 1.656rem;
    right: 8rem;
}

.home {
    font-size: 1.3rem;
}

.nav-home {
    position: absolute;
    top: 1.4685rem;
    left: 4rem;
}

    /*Hovering*/
.nav-item:hover {
    color: white;
    opacity: 1;
}

