*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Nav Bar*/
.nav-bar {
    background-color: #222831;
    height: 4.5rem;
}

.nav-items {
    display: inline-block;
}

.link, .fas {
    color: #EEEEEE;
    text-decoration: none;
}

.nav-item {
    margin: 0 1.4rem;
    opacity: 0.8;
}

.nav-links {
    position: absolute;
    top: 1.656rem;
    right: 8rem;
}

.bars {
    display: none;
}

.home {
    font-size: 1.3rem;
}

.nav-home {
    position: absolute;
    top: 1.4685rem;
    left: 8rem;
}

/*Hovering*/
.nav-item:hover {
    color: white;
    opacity: 1;
}

/*Responsive Nav bar*/
@media only screen and (max-width: 800px) {
    .nav-links {
        right: 2rem;
    }

    .nav-home {
        left: 2rem;
    }
}

@media only screen and (max-width: 550px) {
    .nav-component {
        z-index: -1;
        top: 6rem;
    }

    .bars {
        display: inline-block;
    }
}

@media only screen and (min-width: 551px) {
    .nav-component {
        top: 1.656rem;
    }

    .nav-bar {
        height: 4.5rem !important;
    }
}
