*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*Nav Bar*/
.nav-bar {
    background-color: #222831;
    height: 4.5rem;
    position: sticky;
}

.nav-items {
    display: inline-block;
}

.link {
    color: #EEEEEE;
    text-decoration: none;
}

.nav-item {
    margin: 0 1.4rem;
    opacity: 0.8;
}

.nav-links {
    position: absolute;
    top: 1.656rem;
    right: 8rem;
}

.home {
    font-size: 1.3rem;
}

.nav-home {
    position: absolute;
    top: 1.4685rem;
    left: 8rem;
}

    /*Hovering*/
.nav-item:hover {
    color: white;
    opacity: 1;
}


/*Main section*/
.main {
    background-color: #393E46; 
    height: 33.9rem;
    position: relative;
}

.content {
    position: absolute;
    display: inline-block;
    height: 12rem;
    width: 40rem;
    color: white;
    text-align: justify;
}

.image {
    top: 12rem;
    right: 10rem;
    text-align: right;
}

.text {
    top: 10.8rem;
    left: 10rem;

}

img {
    width: 15rem;
    height: 13.188rem;
}

.content .heading {
    font-size: 3.3rem;
}

.content .paragraph {
    margin: 1.5rem 0;
    line-height: 1.4;
    font-size: 1.3rem;
}

/*Footer Section*/
.footer {
    padding: 4rem 0;
    background-color: #393E46;
    text-align: center;
    color: white;
}

.social-links {
    margin: 0 0 1rem;
    letter-spacing: 0.5rem;
}

.fab {
    font-size: 1.3rem;
    color: white;
}


