
/*Main section*/
.main {
    background-color: #393E46;
    height: 33.9rem;
    position: relative;
}

.content {
    position: absolute;
    display: inline-block;
    height: 13rem;
    color: white;
    width: 40rem;
}

.image {
    top: 12rem;
    right: 10rem;
    text-align: right;
}

.text {
    top: 10.8rem;
    left: 10rem;
    text-align: justify;

}

img {
    width: 15rem;
    height: 13.188rem;
    border-radius: 50%;
}

.heading {
    font-size: 3.3rem;
}

.paragraph {
    margin: 1.5rem 0;
    line-height: 1.4;
    font-size: 1.3rem;
}

/*Footer Section*/
.footer {
    padding: 4rem 0;
    background-color: #393E46;
    text-align: center;
    color: white;
}

.social-links {
    margin: 0 0 1rem;
    letter-spacing: 0.5rem;
}

.fab {
    font-size: 1.3rem;
    color: white;
}

/*Responsive design*/
@media only screen and (max-width: 1230px) {
    .heading {
        font-size: 2.4rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .text {
        width: 30rem;
        left: 7rem;
    }

    .image {
        right: 7rem;
        top: 10.8rem;
        width: 30rem;
    }
}

@media only screen and (max-width: 960px) {
    .image {
        right: 3rem;
    }
    .text {
        left: 3rem;
        top: 11.5rem;
    }
}

@media only screen and (max-width: 820px) {
    .text {
        margin: 4rem 0 3rem;
        position: static;
    }

    .image {
        position: static;
        text-align: center;
    }

    .main {
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .heading {
        font-size: 1.4rem;
    }

    .paragraph {
        font-size: 0.9rem;
    }

    .content {
        width: 17rem;
    }

}
